@font-face {
    font-family: "yriga";
    src: url("ākež/zurānin/YRIGAKESHA.OTF") format("opentype");
}
@font-face {
    font-family: "Yriga";
    src: url("/ākež/zurānin/yriga.ttf");
}
html {
    background-color: #282828;
}

* {
    font-family: "yriga";
    line-height: 23px;
}
. {
    margin-left: 25%;
    padding-top: 2px;
    padding-left: 5px;
    width: 50%;
    height: auto;
    background-color: black;
    color: white;
}
#clock {
    display: flex;
    color: white;
    font: "Yriga";
    font-size: 8vw;
    justify-content: center;
}

#clock div {
    margin-top: 45%;
    padding: 0 0.25em;
}